@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html{
    font-family: 'Inter', sans-serif;
  }
}

@layer components{
  .btn{
    @apply bg-[#664DE5] p-3 rounded-md text-white w-full mt-5 hover:shadow-lg hover:ring-1 focus:outline-none 
  }
  .card{
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #664DE5;
    border-radius: 1rem;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
}

